<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohitchaudhary.cryptonewspaper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/b1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/b1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OnBorading"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".LoginActivity"></activity>

        <activity
            android:name="com.mohitchaudhary.cryptonewspaper.NewsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <activity
            android:name="com.mohitchaudhary.cryptonewspaper.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <service
            android:name=".GettingDeviceServiceToken">

            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>

        </service>
        <service
            android:name=".MyFirebaseMessagingServices">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>

        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2150029866322472~3400204369"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>